<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company %>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
		<span>You can use <a href="http://daringfireball.net/projects/markdown/basics">Markdown</a> or HTML.</span>
    <%= f.text_area :description, :class => 'description' %>
  </div>
	<div class="field tall">
		<%= f.label :duration %>
		<span>e.g. '3 months', '5 weeks', 'Ongoing'</span>
		<%= f.text_field :duration %>
	</div>
  <div class="field">
    <%= f.label :remote, 'Remote OK?' %>
    <%= f.check_box :remote %>
  </div>
	<div class="field f_loc">
		<%= f.label :location %>
		<%= f.text_field :location %>
	</div>
  <div class="field">
    <%= f.label :billing %>
		<%= f.select :billing, { 'Hourly' => 'Hourly', 'Fixed price' => 'Fixed price' } %>
  </div>
  <div class="field">
    <%= f.label :application %>
    <%= f.text_area :application, :class => 'application' %>
  </div>
<% if is_admin? %>
	<div class="field">
		<%= f.label :approved %>
		<%= f.check_box :approved %>
	</div>
<% end %>
  <div class="actions">
    <%= f.submit :class => 'btn btn-inverse' %>
  </div>
<% end %>
