<% content_for :title, @job.title %>
<div class="notice"><%= notice %></div>

<div class="job">
	<div class="header">
		<h3><%= @job.title %></h3>
	</div>
	<div class="company">
		<h5><%= @job.company %></h5>
	</div>
	<div class="location">
		<strong>
		<% unless @job.remote? %>
			<%= @job.location %>
		<% else %>
			Remote
		<% end %>
		</strong>
	</div>
	<div class="description"><%= md @job.description %></div>
	<div class="billing">
		<strong>Billing:</strong>	<%= @job.billing %>
	</div>

	<div class="application">
		<strong>Application process:</strong><br>
		<%= @job.application %><br>
	</div>
	<div class="mention">Good luck, and please mention you found the job here if you apply!</div>

</div>
