<!DOCTYPE html>
<html>
<head>
	<title>
		<%= (yield(:title) + " - " unless yield(:title).blank?).to_s + "Find development resources for your science project" %>
	</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
	<meta name="description" content="Sci Solvers - Find development resources for your science project" />
	<script type="text/javascript" src="/js/jobs.js"></script>
</head>
<body>

<header>
	<h1><%= link_to 'Sci Solvers', :jobs, :class => 'head' %></h1>
	<h4>Find development resources for your science project</h4>
</header>

<div class="main">
	<%= yield %>
</div>
<footer>
	<div class="info"><strong>Sci Solvers</strong> is a project to connect developers with interesting science projects.<br>
	Ideas? Suggestions? <a href="mailto:davedx@gmail.com">Get in touch.</a></div>
	<div class="auth">
	<% if user_signed_in? %>
		Signed in as <%= current_user.email %>
	<% else %>
		Login with: <%= link_to 'Github', '/auth/github/' %> <%= link_to 'Facebook', '/auth/facebook/' %> <%= link_to 'LinkedIn', '/auth/linkedin/' %> 
	<% end %>
	</div>
</footer>
</body>
</html>
